p {
    margin: 30px;
}

.firstpage {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.name {
    text-align: center;
    margin-top: 130px;
}

.space {
    margin: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}

.alright {
    text-align: right;
    margin-right: 150px;
}